apiVersion: v1
kind: ConfigMap
metadata:
  name: movie-db-env
data:
  POSTGRES_USER: movie_db_username
  POSTGRES_DB: movie_db_dev
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: movie-app-env
data:
  CAST_SERVICE_HOST_URL: http://cast-app:8000/api/v1/casts/
  # In a real project, we would need to refactor the application
  # so that the password can be isolated in a dedicated secret.
  DATABASE_URI: postgresql://movie_db_username:movie_db_password@movie-db/movie_db_dev
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cast-db-env
data:
  POSTGRES_USER: cast_db_username
  POSTGRES_DB: cast_db_dev
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cast-app-env
data:
  # In a real project, we would need to refactor the application
  # so that the password can be isolated in a dedicated secret.
  DATABASE_URI: postgresql://cast_db_username:cast_db_password@cast-db/cast_db_dev
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |-
    server {
      listen 8080;

      location /api/v1/movies {
        proxy_pass http://movie-app:8000/api/v1/movies;
      }

      location /api/v1/casts {
        proxy_pass http://cast-app:8000/api/v1/casts;
      }

    }
