apiVersion: apps/v1
kind: Deployment
metadata:
  name: movie-app
  labels:
    app: movie-app
spec:
  selector:
    matchLabels:
      app: movie-app
  replicas: 3
  template:
    metadata:
      labels:
        app: movie-app
    spec:
      containers:
        - name: movie-app
          image: "kasyc/jenkins-devops-exam:{{ .Values.image.movieTag }}"
          envFrom:
            - configMapRef:
                name: movie-app-env
          command:
            - "uvicorn"
            - "app.main:app"
            - "--host"
            - "0.0.0.0"
            - "--port"
            - "8000"
          ports:
            - containerPort: 8000
              protocol: TCP
              name: api
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cast-app
  labels:
    app: cast-app
spec:
  selector:
    matchLabels:
      app: cast-app
  replicas: 3
  template:
    metadata:
      labels:
        app: cast-app
    spec:
      containers:
        - name: cast-app
          image: "kasyc/jenkins-devops-exam:{{ .Values.image.castTag }}"
          envFrom:
            - configMapRef:
                name: cast-app-env
          command:
            - "uvicorn"
            - "app.main:app"
            - "--host"
            - "0.0.0.0"
            - "--port"
            - "8000"
          ports:
            - containerPort: 8000
              protocol: TCP
              name: api
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 8080
          protocol: TCP
          name: http
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
